{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.headline }}
                    <h2 class="section-heading"><i class="fa fa-question-circle fa-fw"></i>&nbsp;{{ . }}</h2>
                {{ end }}
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-left">
                {{ if and .Site.Params.about.headline .Site.Params.about.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.about.description }}
                    <p class="text-faded">{{ . | markdownify }}</p>
                {{ end }}
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.about.buttonText }}
                    <a href="#services" class="btn btn-default btn-xl page-scroll">Get started</a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
