{{ "<!-- SERVICES -->" | safeHTML }}
<section id="services">
    {{ with .Site.Params.services.headline }}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><i class="fa fa-superpowers fa-fw"></i>&nbsp;{{ . }}</h2>
                    <p class="text-muted">Choose which option you'd like to start with.</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
    {{ end }}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="/quickstart/">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <h3>Track smartphone</h3>
                    </a>
                    <p class="text-muted">Download an app and start using FIND immediately!</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <a href="/quickstart/">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                    <h3>Track computer</h3>
                    </a>
                    <p class="text-muted">Download an program and start using FIND immediately!</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <a href="/server/">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary"></i>
                    <h3>Setup server</h3>
                    </a>
                    <p class="text-muted">Setup your own personal FIND server.</p>
                   <!--  <p class="text-muted">
                    <a href="https://github.com/schollz/find/releases/tag/v2.3">Download the latest server binary to host your own FIND system</a> (Windows / Mac / Linux / Raspberry Pi).
                    </p> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="/plugins/#using-find-without-an-app">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
                    <h3>Track all devices</h3>
                    </a>
                    <p class="text-muted">Make a network of devices to track all Wi-Fi devices.</p>
                </div>
            </div>

        </div>
    </div>
</section>
